body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.container {
  display: flex;
}

.left-page {
  width: 50%;
  height: 100vh;
  background-color: brown;
}

.right-page {
  height: 100vh;
  width: 50%;
  background-color: blueviolet;
}
